{% extends 'base.html' %}
{% block title %}Routes- City Transportation Route Planner{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card mt-5">
            <h5 class="card-header">Planned Route</h5>
            <div class="card-body">
                <p><strong>From:</strong>{{start}}</p>
                <p><strong>To:</strong>{{destination}}</p>
                <div id="route-display">
                    <p>Display your route information here...</p>
                </div>
                <a href="{{url_for('index')}}" class="btn btn-secondary mt-3">Plan Another Route</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}